main#index {
    .centerXY;
    header {
        margin-bottom: 20px;
    }

    form {
        width: 90%;
        margin: auto;
        input[type="submit"] {
            cursor: pointer;
        }
    }
}