main#result {
    #overallRGB {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    #resultRGB {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        .block {
            height: 50px;
            float: left;
        }
    }
    #overallInfo {
        .centerXY;
        text-align: center;
    }
}