extends layout

block content
    main#error
        .container
            h1= "OWO SOMETHING WENT WRONG :("
            p= message
            button(type="button", onclick="document.location.href='/'") New Query