extends layout

block content
    main#index
        section#left
            .container
                ul
                    li
                    li
                    li
                    li
                    li
        section#right
            .container
                header
                    h1= "SITE AVERAGER"
                    p= "Get a overview of website image colour compositions."
                form(action="analyse", method="POST")
                    div.form-group
                        input.form-control(name="url" type="text" placeholder="https://www.google.com/")
                    div.form-group
                        input.form-control(type="submit")