extends layout

block content
    main#index
        section#left
            .container
                ul
                    li
                    li
                    li
                    li
                    li
        section#right
            .container
                header
                    h1= "SITE AVERAGER"
                    p= "Get a overview of website image colour compositions."
                #formContainer
    script(src="javascripts/form.bundle.js")