extends layout

block content
    main#index
        header
            h1=title
        form(action="analyse" method="GET")
            div.form-group
                input.form-control(name="url" type="text" placeholder="www.google.com")
            div.form-group
                input.form-control(type="submit")
    script(type="text/javascript" src="/scripts/index.js")