extends layout

block content
    main#result
        #overallRGB(style="background-color: rgb(" + totalAvg + ");")
        #resultRGB
            each result in results
                div.block(style="background-color: rgb(" + result.averageRGB + ");")
        #overallInfo
            p= "R: " + totalAvg[0]
            p= "G: " + totalAvg[1]
            p= "B: " + totalAvg[2]
            p= "Analysed " + results.length + " images"
    script(type="text/javascript" src="/scripts/result.js")