body
    img(src="images/black25.png")
    img(src="images/red25.png")
    img(src="images/green25.png")
    img(src="images/blue25.png")
    img(src="images/white25.png")
    img(src="images/black50.jpg")
    img(src="images/red50.jpg")
    img(src="images/green50.jpg")
    img(src="images/blue50.jpg")
    img(src="images/white50.jpg")
    img(src="images/black100.png")
    img(src="images/red100.png")
    img(src="images/green100.png")
    img(src="images/blue100.png")
    img(src="images/white100.png")
    img(src="/images/black50.jpg")
    img(src="/images/red50.jpg")
    img(src="/images/green50.jpg")
    img(src="/images/blue50.jpg")
    img(src="/images/white50.jpg")
    img(src="undefinedimage")