body
    img(src="images/test/black25.png")
    img(src="images/test/red25.png")
    img(src="images/test/green25.png")
    img(src="images/test/blue25.png")
    img(src="images/test/white25.png")
    img(src="images/test/black50.jpg")
    img(src="images/test/red50.jpg")
    img(src="images/test/green50.jpg")
    img(src="images/test/blue50.jpg")
    img(src="images/test/white50.jpg")
    img(src="images/test/black100.png")
    img(src="images/test/red100.png")
    img(src="images/test/green100.png")
    img(src="images/test/blue100.png")
    img(src="images/test/white100.png")
    img(src="/images/test/black50.jpg")
    img(src="/images/test/red50.jpg")
    img(src="/images/test/green50.jpg")
    img(src="/images/test/blue50.jpg")
    img(src="/images/test/white50.jpg")
    img(src="undefinedimage")